:root {
  --litefyr-primary-blue: #00adee;
  --litefyrrimary-blue-hover: #35c3f8;
  --litefyrrimary-violet: #26224c;
  --litefyrontrast-darkest: #141414;
  --litefyrontrast-neutral: #323232;
  --litefyrighlight: #ff8700;
  --litefyrounded: 2px;
}

.bgBlue {
  background-color: var(--litefyrrimary-blue);
}

.bgViolet {
  background-color: var(--litefyrrimary-violet);
}

.highlight {
  box-shadow: 0 0 0 2px var(--litefyrighlight);
}

.rounded {
  border-radius: var(--litefyrounded);
}

.primaryWrapper {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.primaryDisabled {
  cursor: not-allowed;
  opacity: 0.65;

  & > * {
    pointer-events: none;
  }
}

.buttonPreview {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.primaryButtons {
  display: flex;
  gap: 10px;
  align-items: baseline;
}

.secondaryGrid {
  display: flex;
  align-items: flex-start;
  max-height: calc(100vh - 85px);
  overflow: auto;
  justify-content: center;

  & .clipPathOutput {
    margin: 20px;
  }
}

.secondaryControls {
  display: flex;
  flex-direction: column;
  gap: 40px;
  order: 1;
  min-width: 300px;
  padding: 30px 20px;
  max-height: calc(100vh - 85px);
  overflow: auto;
}

.clipPathOutput {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;

  & * {
    width: 100%;
  }
}

.outputContent {
  min-height: 24px;
  position: relative;
  color: rgb(0 0 0 / 60%);
  text-align: center;
  margin: 0;
  line-height: 2;
  pointer-events: none;

  &::before {
    content: "";
    position: absolute;
    z-index: -10;
    background: var(--litefyrrimary-blue);
    inset: 0;
    opacity: 0.4;
  }
}

.previewOutput {
  position: relative;
  background: var(--litefyrontrast-darkest);
  border: 1px dashed var(--litefyrontrast-neutral);
  border-radius: 2px;
  cursor: pointer;
  padding: 0;
  overflow: hidden;

  & > svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
  }

  & > div {
    transition: background-color 0.3s ease-in-out;
  }

  &:hover {
    & > svg {
      opacity: 0.7;
    }

    & > div {
      background-color: var(--litefyrrimary-blue);
    }
  }
}

.outputContent,
.checkboard {
  background-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="400" height="400" fill-opacity=".25"><rect x="200" width="200" height="200" /><rect y="200" width="200" height="200" /></svg>');
  background-size: 16px 16px;
}

.flex {
  display: flex;
}

.flexColumn {
  flex-direction: column;
}

.wFull {
  width: 100%;
}

.textLeft {
  text-align: left;
}

.p0 {
  padding: 0;
}

.gap2 {
  gap: 0.5rem;
}

.itemsCenter {
  align-items: center;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.rangeLabel {
  display: block;
  margin-left: 55px;
  margin-bottom: -5px;
}

.checboxLabel {
  display: flex;
  user-select: none;
  cursor: pointer;
}

.checkboxGrid {
  display: grid;
  gap: 1em 2em;
  grid-template-columns: repeat(2, minmax(0, 1fr));

  &:empty {
    display: none;
  }
}

.rangeEnableLabel {
  margin-bottom: -5px;

  & :first-child {
    margin-left: 15px;
    margin-right: 20px;
  }
}

.rangeIcon {
  min-height: 48px;
  min-width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.range input {
  appearance: none;
  background: var(--litefyrontrast-neutral);
  cursor: pointer;
  height: 25px;
  outline: none;
  width: 100%;
  border-radius: 2px;
}

.range input::-webkit-slider-thumb {
  appearance: none;
  background: var(--litefyrrimary-blue);
  border-radius: 5px;
  box-shadow:
    0 0 0 #000,
    0 0 0 #0d0d0d;
  cursor: pointer;
  height: 20px;
  width: 20px;
  border: none;
  transition: transform 0.3s ease;
}

.range input::-webkit-slider-thumb:hover,
.range input::-webkit-slider-thumb:focus {
  background: var(--litefyrrimary-blue-hover);
}

.range input::-webkit-slider-thumb:active {
  transform: scale(1.5);
}

.range input::-moz-range-thumb {
  appearance: none;
  background: var(--litefyrrimary-blue);
  border-radius: 5px;
  box-shadow:
    0 0 0 #000,
    0 0 0 #0d0d0d;
  cursor: pointer;
  height: 25px;
  width: 25px;
  border: none;
  transition: transform 0.3s ease;
}

.range input::-moz-range-thumb:hover,
.range input::-moz-range-thumb:focus {
  background: var(--litefyrrimary-blue-hover);
}

.range input::-moz-range-thumb:active {
  transform: scale(1.5);
}

.fontOutput {
  margin: 2rem auto;
  padding: 1rem;
  outline: none;
  font-size: 1.5rem;
  line-height: 1.5;
  max-height: calc(100vh - 85px - 4rem);
  overflow: auto;

  & button {
    border: 0;
  }

  > p {
    margin: 0 0 2em;
  }

  > p:last-child {
    margin-bottom: 0;
  }

  & blockquote {
    margin-left: 0;
    margin-right: 0;

    &::before {
      content: open-quote;
    }

    &::after {
      content: close-quote;
    }
  }
}

.headlineOutput {
  font-size: 3rem;
  text-align: center;
  line-height: 1.2;
}

.rangeOutput {
  font-size: 2rem;
  white-space: pre;
}

.radio {
  position: relative;
  display: block;
  overflow: hidden;
  min-height: 22px;
  min-width: 22px;
  line-height: 22px;
  vertical-align: middle;
  padding: 0 !important;
  cursor: pointer;

  & span {
    width: 22px;
    height: 22px;
    margin-right: 8px;
    overflow: hidden;
    float: left;
    position: relative;

    &::before {
      content: "";
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      background-color: #3f3f3f;
      border: 1px solid #adadad;
      color: #5b5b5b;
      cursor: pointer;
      line-height: 20px;
      text-align: center;
    }

    &::after {
      content: "";
      position: absolute;
      background: #5b5b5b;
      border-radius: 50%;
      width: 8px;
      height: 8px;
      left: 7px;
      top: 7px;
    }
  }

  & input {
    position: absolute;
    left: -9999px;
    vertical-align: top;
  }

  & input:checked + span {
    &::before {
      background-color: #39c6ff;
      border: 1px solid #39c6ff;
      color: #fff;
    }

    &::after {
      background: #fff;
    }
  }
}

.hidden {
  display: none;
}
